.signin {
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}

.signin-gradient {
  background: #30308d;
  height: 230px;
}

.signin-title {
  color: #ffffff;
}