<custom-header></custom-header>
<section class="mb-5 st-150">
  <div class="p-3">
    <i class="bi bi-person-badge"></i> Edit User
  </div>
  <form [formGroup]="formUser" (submit)="onSaveUser()">

    <div class="p-3 border-top shadow-sm">
      <div class="row">
        <div class="col-auto me-auto">
          <button type="submit" class="btn btn-success"><i class="bi bi-hand-thumbs-up"></i> Save</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            <i class="bi bi-x-circle"></i> Cancel
          </button>
        </div>
      </div>
    </div>

    <!-- form user -->

    <div class="p-3 col-lg-12 mx-auto border-top border-bottom">
      <div *ngIf="success != ''" class="mb-3 alert alert-success">
        <i class="bi bi-heart"></i> {{ success }}
      </div>
      <div *ngIf="error != ''" class="mb-3 alert alert-danger">
        <i class="bi bi-bug-fill"></i> {{ error }}
      </div>
      <div class="row">
        <div class="col-lg-4 mb-3">
          <label for="title" class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="col-lg-4 mb-3">
          <label for="title" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="fullName" placeholder="Name"
            [class.is-invalid]="fullName?.invalid && (fullName?.dirty || fullName?.touched)">
        </div>
        <div class="col-lg-4 mb-3">
          <label for="title" class="form-label">E-mail</label>
          <input type="text" class="form-control" formControlName="email" placeholder="E-mail"
            [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)">
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12 mb-3">
          <a [routerLink]="['/user/pwd']"><i class="bi bi-key"></i> Edit password</a>
        </div>
      </div>
    </div>

    <!-- end form user -->
  </form>
</section>
<custom-footer></custom-footer>